<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProcessManager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <link rel="stylesheet" href="~/css/fa.css" />
    <script src="~/js/all.js"></script> @* Font Fa *@

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.3.0.min.js"%3E%3C/script%3E'))</script>

    <link rel="stylesheet" type="text/css" href="~/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/18.1.4/js/dx.all.js"></script>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    
    <link rel="stylesheet" href="~/css/alertify.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <partial name="_HeaderPartial"/>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebProcessManager</p>
        </footer>
    </div>
<script src="~/js/alertify.js"></script>
<script>
    window.rootUrl = '@Url.Content("~/")';
</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
